* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1280px;
  width: 100%;
  margin: auto;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    fieldset {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      legend {
        font-weight: 700;
      }

      label {
        display: flex;
        align-items: center;
        gap: 1rem;

        input {
          flex: 1;
          padding: .25rem;
        }
      }

      &.form__btns {
        display: flex;
        flex-direction: row;
        gap: .5rem;

        button {
          flex: 1;
          padding: .25rem;
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  // テーブルヘッーのスタイル
  thead th {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    border-bottom: 2px solid #ddd;
  }
  
  tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  
  tbody td {
    padding: 10px;
  }
  
  tbody img {
    border-radius: 50%;
    width: 50px;
  }
  
  .btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .btn-danger {
    background-color: #e74c3c;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #c0392b;
  }
}